/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1360px;
    height: 645px;
    background: linear-gradient(279deg, rgba(9,168,227,1) 0%, rgba(175,31,243,1) 100%);
    min-width: 1360px;
}